<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>653C9FC01D6097A40070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653C9FC81D6097A40070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653C9FF21D609E650070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653C9FFA1D609E660070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653CA0171D60A34E0070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653CA02F1D60A5D10070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653CA0371D60A5D10070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653CA0591D60AA990070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653CA0611D60AA990070B7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6594841D1DAAA2B90028F83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659484251DAAA2B90028F83B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65CFC5EF1D608A5500CAD875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65CFC5F81D608A5500CAD875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65CFC6151D60900000CAD875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65ECB2CC1DB4F0C000F96F46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65ECB2D41DB4F0C000F96F46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
