Pods/Alamofire
Pods/DeallocationChecker
Pods/Pods.xcodeproj/xcuserdata/smcintosh.xcuserdatad
Pods/ProcedureKit
Pods/SwiftyBeaver
Pods/Target Support Files
Template.xcworkspace
Podfile.lock
Manifest.lock
